*
{
    margin:0 0 0 0;
}
body
{
    background: url('../images/bg.jpg');
    background-size: cover;

}
#musicIcon{
    width:64px;
    height:84px;
    margin:10px 0 0 10px;
    cursor: pointer;
}

#textIcon{
    width:64px;
    height:84px;
    margin:10px 0 0 10px;
    cursor: pointer;

}
#deleteIcon{
    width:64px;
    height:84px;
    margin:10px 0 0 10px;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right:10px;

}


.imgMusic{
    width:64px;
    height:64px;
    background: url(../images/music.png);
}

.imgText{
    width:64px;
    height:64px;
    background: url(../images/text.png);
}
.imgDelete
{
    width:64px;
    height:64px;
    background: url(../images/TrashIcon.png);

}
.music
{
    text-align:center;
    width:64px;
    height:20px;
    color:white;
}
.text{
    text-align:center;
    width:64px;
    height:20px;
    color:white;
}
