*
{
    margin:0 0 0 0;
}

body
{
    background: url('../images/bg1.jpg');
    background-size: cover;

}

.iconDesctop
{
    width:64px;
    height:84px;
    margin:10px 0 0 10px;
    cursor: pointer;
}

.img
{
    width:64px;
    height:64px;
}

.imgDelete
{
    background: url(../images/TrashIcon.png);
}

.text
{
    text-align:center;
    width:64px;
    height:20px;
    color:white;
}

#tools
{
    width:400px;
    height:300px;
    background: white;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -200px;
    border-radius: 7px;
    border: 1px solid black;
    display: none;
}

#labels
{
    padding:20px;
}

/*Иконки на рабочем столе*/
.imgMusic
{
    background: url(../images/music.png);
}

.imgPleir
{
    background: url(../images/pleir.png);
}

.imgText
{
    background: url(../images/text.png);
}