.bookwin
{
    width:400px;
    height:200px;
    top:100px;
    left:200px;
    border:1px solid black;
    position:absolute;
    border-radius: 7px;
    border-radius: 7px;
    resize: both;
    max-width: 1000px;
    max-height: 1000px;
    overflow: hidden;

}
.deletewin
 {
     width:400px;
     height:200px;
     top:100px;
     left:200px;
     border:1px solid black;
     position:absolute;
     border-radius: 7px;
     border-radius: 7px;
     resize: both;
     max-width: 1000px;
     max-height: 1000px;
     overflow: hidden;

 }
.deepwin
{
    width:400px;
    height:200px;
    top:120px;
    left:220px;
    border:1px solid black;
    position:absolute;
    border-radius: 7px;
    border-radius: 7px;
    display: block;
}
#winTop
{
    height:30px;
    text-align:center;
    background:url('../images/bgStart.png');
    color:white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
#winText
{
    height:100%;
    width:100%;
    background:url('../images/bgStart.png');
    cursor:move;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;


}

#winText textarea
{
    height:100%;
    width:100%;
    background:white;
    cursor:default;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    resize:none;
    border: none;
}
.winButton
{
	width:21px;
	height:21px;
	float:right;
	border:1px solid black;
	margin:3px 3px 0 0;
	background:#acacac;
    cursor:pointer;

}

.winClose
{
	background:#ac0000;
}
.embwinText
{
    height:100%;
    width:100%;
    background:white;
    cursor:default;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;

}

#contextMenu{
    width:200px;
    height: 60px;
    background:#ffffff;
    position: absolute;
    top:10px;
    left:400px;
    display:none;
}

#contextMenu ul{
    list-style: none;
    margin:0 0 0 -20px;
}

#contextMenu li:hover{
    background: #dfdfdf;
}

#createElement:hover #elements{
    display: block;
    margin: -20px 0 0 180px;
    position: absolute;
}

#elements{
    background: #ffffff;
    display:none;
}

#elements li{
    margin: 0 0 0 -20px;
    width:150px;
}













